.image_upload{
    display: flex;
    flex-direction: column;
    width: 100%;
    background:white;
    justify-content: center;
    align-items: center;
}
.progress{
    width: 100%;
}
.image_file_input{
    width: 100%;
}
