.post{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    max-width: 400px;
    background: white;
    margin: 20px 0;
    border-radius: 12px;
    
}
.post-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
  
}
.post_header{
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;

}
.post_image{
    width: 100%;
    object-fit: contain;
}

.post_caption{
    padding: 10px;
}
.post_caption_username{
  margin-right: 10px;
}
.post_comment_box{
width: 100%;
flex: 1;
border: none;
padding: 10px 0; 
outline: none;
}
.post_comment_section{
    display: flex;
    padding: 10px ;
    border-top: 1px solid lightgrey;
}
.post_button{
    flex: 0;
    background:transparent;
    border: none;
  
}
.post_comments{
    padding: 10px;
}
.button_name{
    color:#0095f6;
}
.comment{
    padding: 5px 0;
}
.comment_appearance{
    width:90%;
    display:flex;
    justify-content:space-between;
}
.comment_appearance:hover .option_button{
opacity: 1;
}
.option_button{
    opacity: 0;
  position:absolute;
  background:none;
  border:none;
 
}
.post_option{
  background:none;
  border:none;
 
}
.Profile_wrapper{
    background-color: white;
    height:100%;
    margin: auto;
    width: 500PX;
    overflow-y: scroll;
}

.Profile_header{
    padding: 15px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}
.Profile_details{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.Profile_data{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.PostsNo,.Followers,.Following{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
}
.UserBio{
    padding: 0 15px;
}
.Profile_editbtn{
    display: flex;
  
}
.Profile_editbtn>button{
    margin:10px 15px;
    width: 100%;
    border: none;
    background-color:#77A7FF;
    border-radius: 8px;
    padding:5px 10px;
    letter-spacing: 1px;
    color: white;

}
.All_posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Profile_post_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 8px;

   
}