.post{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    max-width: 400px;
    background: white;
    margin: 20px 0;
    border-radius: 12px;
    
}
.post-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.post_header{
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;

}
.post_header_image{
    margin-right:15px;
}
.post_image{
    width: 100%;
    object-fit: contain;
}

.post_caption{
    padding: 10px;
}
.post_caption_username{
  margin-right: 10px;
}
.post_comment_box{
width: 100%;
flex: 1;
border: none;
padding: 10px 0; 
outline: none;
}
.post_comment_section{
    display: flex;
    padding: 10px ;
    border-top: 1px solid lightgrey;
}
.post_button{
    flex: 0;
    background:transparent;
    border: none;
  
}
.post_comments{
    padding: 10px;
}
.button_name{
    color:#0095f6;
}
.comment{
    padding: 5px 0;
}