*{
  margin: 0;
}
.app_wrapper{
  margin:auto;
}
.app_header_wrapper{
  width: 100%;
border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}
.app_header{
  padding: 20px 0;
  object-fit: contain;
  display: flex;
  justify-Content: space-between;
  width: 60%;
  margin:0 auto;

}

.app_header_image{
  object-fit: contain; width: 150px;height: 40px
}
.sign_up_modal,.sign_in_modal{
  padding:50px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:white;
  width:300px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  border-radius: 12px;
  border: 1px solid lightgray;
}
.post_section{
  background: rgb(251, 249, 249);
}
.upload_modal{
  padding:50px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:white;
  width:300px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  border-radius: 12px;
}
@media screen and (max-width:560px) {
  .app_header{
    width: 100%;
  }
}